<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxyinme.secondhouse.showsystem.mapper.HouseTableMapper">
  <resultMap id="BaseResultMap" type="com.dxyinme.secondhouse.showsystem.model.HouseTable">
    <!--@mbg.generated-->
    <!--@Table house_table-->
    <id column="house_id" jdbcType="VARCHAR" property="houseId" />
    <result column="house_location" jdbcType="LONGVARCHAR" property="houseLocation" />
    <result column="house_area" jdbcType="INTEGER" property="houseArea" />
    <result column="house_price" jdbcType="INTEGER" property="housePrice" />
    <result column="house_floor" jdbcType="INTEGER" property="houseFloor" />
    <result column="build_time" jdbcType="VARCHAR" property="buildTime" />
    <result column="time_limit" jdbcType="INTEGER" property="timeLimit" />
    <result column="house_state" jdbcType="INTEGER" property="houseState" />
    <result column="house_type" jdbcType="INTEGER" property="houseType" />
    <result column="ownerid" jdbcType="INTEGER" property="ownerid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    house_id, house_location, house_area, house_price, house_floor, build_time, time_limit, 
    house_state, house_type, ownerid
  </sql>
  <select id="selectByExample" parameterType="com.dxyinme.secondhouse.showsystem.model.HouseTableExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from house_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from house_table
    where house_id = #{houseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from house_table
    where house_id = #{houseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dxyinme.secondhouse.showsystem.model.HouseTableExample">
    <!--@mbg.generated-->
    delete from house_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dxyinme.secondhouse.showsystem.model.HouseTable">
    <!--@mbg.generated-->
    insert into house_table (house_location, house_area, house_price, 
      house_floor, build_time, time_limit, 
      house_state, house_type, ownerid , house_id
      )
    values (#{houseLocation,jdbcType=LONGVARCHAR}, #{houseArea,jdbcType=INTEGER}, #{housePrice,jdbcType=INTEGER}, 
      #{houseFloor,jdbcType=INTEGER}, #{buildTime,jdbcType=VARCHAR}, #{timeLimit,jdbcType=INTEGER}, 
      #{houseState,jdbcType=INTEGER}, #{houseType,jdbcType=INTEGER}, #{ownerid,jdbcType=INTEGER},
      #{houseId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="house_id" keyProperty="houseId" parameterType="com.dxyinme.secondhouse.showsystem.model.HouseTable" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into house_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseLocation != null">
        house_location,
      </if>
      <if test="houseArea != null">
        house_area,
      </if>
      <if test="housePrice != null">
        house_price,
      </if>
      <if test="houseFloor != null">
        house_floor,
      </if>
      <if test="buildTime != null">
        build_time,
      </if>
      <if test="timeLimit != null">
        time_limit,
      </if>
      <if test="houseState != null">
        house_state,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="ownerid != null">
        ownerid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseLocation != null">
        #{houseLocation,jdbcType=LONGVARCHAR},
      </if>
      <if test="houseArea != null">
        #{houseArea,jdbcType=INTEGER},
      </if>
      <if test="housePrice != null">
        #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="houseFloor != null">
        #{houseFloor,jdbcType=INTEGER},
      </if>
      <if test="buildTime != null">
        #{buildTime,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null">
        #{timeLimit,jdbcType=INTEGER},
      </if>
      <if test="houseState != null">
        #{houseState,jdbcType=INTEGER},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=INTEGER},
      </if>
      <if test="ownerid != null">
        #{ownerid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dxyinme.secondhouse.showsystem.model.HouseTableExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from house_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update house_table
    <set>
      <if test="record.houseId != null">
        house_id = #{record.houseId,jdbcType=VARCHAR},
      </if>
      <if test="record.houseLocation != null">
        house_location = #{record.houseLocation,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.houseArea != null">
        house_area = #{record.houseArea,jdbcType=INTEGER},
      </if>
      <if test="record.housePrice != null">
        house_price = #{record.housePrice,jdbcType=INTEGER},
      </if>
      <if test="record.houseFloor != null">
        house_floor = #{record.houseFloor,jdbcType=INTEGER},
      </if>
      <if test="record.buildTime != null">
        build_time = #{record.buildTime,jdbcType=VARCHAR},
      </if>
      <if test="record.timeLimit != null">
        time_limit = #{record.timeLimit,jdbcType=INTEGER},
      </if>
      <if test="record.houseState != null">
        house_state = #{record.houseState,jdbcType=INTEGER},
      </if>
      <if test="record.houseType != null">
        house_type = #{record.houseType,jdbcType=INTEGER},
      </if>
      <if test="record.ownerid != null">
        ownerid = #{record.ownerid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update house_table
    set house_id = #{record.houseId,jdbcType=VARCHAR},
      house_location = #{record.houseLocation,jdbcType=LONGVARCHAR},
      house_area = #{record.houseArea,jdbcType=INTEGER},
      house_price = #{record.housePrice,jdbcType=INTEGER},
      house_floor = #{record.houseFloor,jdbcType=INTEGER},
      build_time = #{record.buildTime,jdbcType=VARCHAR},
      time_limit = #{record.timeLimit,jdbcType=INTEGER},
      house_state = #{record.houseState,jdbcType=INTEGER},
      house_type = #{record.houseType,jdbcType=INTEGER},
      ownerid = #{record.ownerid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxyinme.secondhouse.showsystem.model.HouseTable">
    <!--@mbg.generated-->
    update house_table
    <set>
      <if test="houseLocation != null">
        house_location = #{houseLocation,jdbcType=LONGVARCHAR},
      </if>
      <if test="houseArea != null">
        house_area = #{houseArea,jdbcType=INTEGER},
      </if>
      <if test="housePrice != null">
        house_price = #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="houseFloor != null">
        house_floor = #{houseFloor,jdbcType=INTEGER},
      </if>
      <if test="buildTime != null">
        build_time = #{buildTime,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null">
        time_limit = #{timeLimit,jdbcType=INTEGER},
      </if>
      <if test="houseState != null">
        house_state = #{houseState,jdbcType=INTEGER},
      </if>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=INTEGER},
      </if>
      <if test="ownerid != null">
        ownerid = #{ownerid,jdbcType=INTEGER},
      </if>
    </set>
    where house_id = #{houseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxyinme.secondhouse.showsystem.model.HouseTable">
    <!--@mbg.generated-->
    update house_table
    set house_location = #{houseLocation,jdbcType=LONGVARCHAR},
      house_area = #{houseArea,jdbcType=INTEGER},
      house_price = #{housePrice,jdbcType=INTEGER},
      house_floor = #{houseFloor,jdbcType=INTEGER},
      build_time = #{buildTime,jdbcType=VARCHAR},
      time_limit = #{timeLimit,jdbcType=INTEGER},
      house_state = #{houseState,jdbcType=INTEGER},
      house_type = #{houseType,jdbcType=INTEGER},
      ownerid = #{ownerid,jdbcType=INTEGER}
    where house_id = #{houseId,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" keyColumn="house_id" keyProperty="houseId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into house_table
    (house_location, house_area, house_price, house_floor, build_time, time_limit, house_state, 
      house_type, ownerid)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.houseLocation,jdbcType=LONGVARCHAR}, #{item.houseArea,jdbcType=INTEGER}, 
        #{item.housePrice,jdbcType=INTEGER}, #{item.houseFloor,jdbcType=INTEGER}, #{item.buildTime,jdbcType=VARCHAR}, 
        #{item.timeLimit,jdbcType=INTEGER}, #{item.houseState,jdbcType=INTEGER}, #{item.houseType,jdbcType=INTEGER}, 
        #{item.ownerid,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>